<footer class="d-flex justify-content-center gap-4 my-4 flex-wrap">
    <div>
        <a class="title-link-footer" href="/">
            <span class="title-text-footer">Aperi'Solve</span>
            <span class="title-version-footer">(v.3.X.X) © 2026</span>
        </a>
    </div>
    <div>
        <a href="https://buymeacoffee.com/aperisolve" title="Coffee" class="text-light text-decoration-none">
            <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" id="coffee" />
        </a>
    </div>
    <div>
        <a href="/faq" title="FAQ" class="text-light text-decoration-none">
            <i class="fa-regular fa-circle-question"></i>
        </a>
    </div>
    <div>
        <a href="https://github.com/Zeecka/AperiSolve" target="_blank" title="GitHub"
            class="text-light text-decoration-none">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div>
        <a href="https://x.com/Zeecka_" target="_blank" title="Twitter" class="text-light text-decoration-none">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </div>
</footer>