{% extends 'base.html' %}
{% block title %}Browse Submissions - Aperi'Solve{% endblock %}
{% block meta %}
<meta name="robots" content="noindex">
{% endblock %}
{% block body_content %}
<section id="result" class="results-section">
  <h2 class="h3 mb-4">{{ _("Browse Submissions") }}</h2>
  {% if images %}
  <div class="row g-3">
    {% for img in images %}
    <div class="col-6 col-md-4 col-lg-3">
      <a href="{{ img.link }}" target="_blank" class="d-block browse-image-link">
        <img src="{{ img.file }}" alt="Submission thumbnail" class="img-fluid rounded" loading="lazy">
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="text-center text-light-emphasis py-5">
    <i class="fa fa-images fa-2x mb-3 d-block"></i>
    <p class="mb-3">{{ _("No submissions to browse yet.") }}</p>
    <a href="{{ lang_prefix }}/" class="btn btn-primary">
      <i class="fa fa-upload me-2"></i>{{ _("Analyze an image") }}
    </a>
  </div>
  {% endif %}
</section>
{% endblock %}
