<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aperi'Solve</title>
  <!-- Meta -->
  <meta name="Content-Language" content="en">
  <meta name="Keywords" content="AperiSolve, Apérisolve, Aperi'Solve, Apéri'Solve, Zeecka">
  <meta name="Author" content="Zeecka">
  <meta name="Robots" content="all">
  <meta name="theme-color" content="#42f4c5">
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/watermelon.png" />
  <link rel="icon" type="image/png" href="/static/images/watermelon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="static/normalize.css" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
  <div id="parentmain">
    <div id="parenthome">
      <h1 id="logo">Aperi'Solve</h1>
      <div id="mainform">
        What is this ?
        <p>Aperi'Solve is an online platform which performs layer analysis on image. The platform also uses zsteg,
          steghide, outguess, exiftool, binwalk, foremost and strings for deeper steganography analysis. The platform
          supports the following images format: .png, .jpg, .gif, .bmp, .jpeg, .jfif, .jpe, .tiff...</p>
        <form id="file-upload-form" class="uploader">
          <input id="file-upload" type="file" name="file" accept="image/*" />
          <div id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden">
            <div id="start">
              <i class="fa fa-download" aria-hidden="true"></i>
              <div>Select a file or drag here</div>
              <div id="notimage" class="hidden">Please select an image</div>
              <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
            </div>
            <div id="response" class="hidden">
              <div id="messages"></div>
              <progress class="progress" id="file-progress" value="0">
                <span>0</span>%
              </progress>
            </div>
          </div>
          <button class="btn" id="upload_button" type="button">Submit</button>
          <div id="error" class="error"></div>
        </form>
      </div>
      <div id="optionsform">
        <div>Extract all zsteg files (--extract) ? <button class="btn disable" id="btn_zsteg_ext">Disable</button></div>
        <div>Test all options of zsteg (--all) ? <button class="btn disable" id="btn_zsteg_all">Disable</button></div>
        <div>I've got a password ! <button class="btn disable" id="btn_password">Disable</button></div>
        <div id="password"><input type="text" name="password" placeholder="password..."></div>
      </div>
    </div>
  </div>
  <div id="particles-js"></div>
  <script>particlesJS.load('particles-js', 'static/particles.json', function () { });</script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/script_upload.js"></script>

</html>