{% include 'header.html' %}
  <input id="md5" type="hidden" value="{{ md5 }}"/>
  <div id="parentmain">
    <div class="min_width">
      <h1>{{ result.view }}</h1>
    </div>
    <div class="result">
      <div class="min_width">
        <div class="viewsteg"><div id="show">{% for d in dirs %}<div><a href='/{{ d }}'><img data-src='{{ d }}'/></a></div>{% endfor %}</div></div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="static/script_show.js"></script>
{% include 'footer.html' %}