<!doctype html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="UTF-8">
        <title>Aperi'Solve</title>
        <!-- Meta -->
        <meta name="Content-Language" content="en">
        <meta name="Keywords" content="AperiSolve, Zeecka">
        <meta name="Author" content="Alex GARRIDO">
        <meta name="Revisit-After" content="1 day">
        <meta name="Robots" content="all">
        <meta name="Distribution" content="global">
        <meta name="theme-color" content="#42f4c5">
        <link href="https://fonts.googleapis.com/css?family=Questrial|Righteous" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='watermelon.png') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='watermelon.png') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </head>
    <div style="visibility:hidden; opacity:0" id="dropzone"><div id="textnode">Drop anywhere!</div></div>
    <body>
        <h1 id="h1titre"><a href="/" id="homelink"><img src="{{ url_for('static', filename='watermelon.png') }}" style="vertical-align: middle; width: 95px; height: 95px; margin-right: 10px;"/> Aperi'Solve</a></h1>
        <hr id="hrtitre"/>
        <section>
            <div id="info">
            <h2>What is this ?</h2>
            <p>Aperi'Solve is an online platform which performs layer analysis on image. The platform also uses <i>zsteg</i>, <i>steghide</i>, <i>exiftool</i>, <i>binwalk</i> and <i>strings</i> for deeper steganography analysis.
            The platform supports the following images format: .png, .jpg, .gif, .bmp, .jpeg, .jfif, .jpe, .tiff...</p>
            <!-- Place this tag where you want the button to render. -->
            <!-- <hr/> -->
            <form method="post" id="fileform" enctype="multipart/form-data">
                <input type="file" name="fileup" id="fileup"/>
                <div><!--
                --><button type="button" id="filebut"><!--
                    --><div id="txtbut">Select a file...</div><!--
                --></button><!--
                --><div id="backgroundprogressbar"></div><!--
                --><div id="progressbar"></div><!--
                --><div id="extractzsteg" class="checkbox"><div id="casezstegextract" class="casecheck"></div><!--
                -->Extract all zsteg files (--extract)</div><!--
                --><div id="checkzsteg" class="checkbox"><div id="casezsteg" class="casecheck"></div><!--
                -->Test all options of zsteg (--all)</div><!--
                --><div id="checkpasswd" class="checkbox"><div id="casepasswd" class="casecheck"></div><!--
                -->I've got a password !</div><!--
                --><div id="gotpasswd"><input type="text" id="passwdsteg" name="passwdsteg" value="" placeholder="password..."/></div><!--
                --></div><!--
                --><input type="hidden" id="zstegfiles" name="zstegfiles" value="0"/><!--
                --><input type="hidden" id="allzsteg" name="allzsteg" value="0"/><!--
                --><input type="submit" value="Analyse" name="submit" id="analyserbut"/>
            </form>
            </div><!--
            --><div id="displayimg"><div id="containerimg"><!--
                --><div id="out_imgs"><h2 class='h2info'>View</h2><span></span><div></div></div><!--
                --><div id="out_zsteg"><h2 class='h2info'>Zsteg</h2><span></span><div></div></div><!--
                --><div id="out_steghide"><h2 class='h2info'>Steghide</h2><span></span><div></div></div><!--
                --><div id="out_outguess"><h2 class='h2info'>Outguess</h2><span></span><div></div></div><!--
                --><div id="out_exifs"><h2 class='h2info'>Exiftool</h2><span></span><div></div></div><!--
                --><div id="out_binwalk"><h2 class='h2info'>Binwalk</h2><span></span><div></div></div><!--
                --><div id="out_foremost"><h2 class='h2info'>Foremost</h2><span></span><div></div></div><!--
                --><div id="out_strings"><h2 class='h2info'>Strings</h2><span></span><div></div></div><!--
            --></div></div>
        </section>
        <div id="bottom_right">
            <center><a href="https://twitter.com/Zeecka_" class="twitter-follow-button" data-show-count="false">Follow @Zeecka_</a></center>
            <a class="github-button" href="https://github.com/Zeecka/AperiSolve" data-size="large" aria-label="View on GitHub">View on GitHub</a>
        </div>
    </body>
</html>
